/*
* @Author: Administrator
* @Date:   2017-11-28 14:01:01
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-30 19:33:19
*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","宋体",sans-serif;
	font-size: 16px;
}
body{
	background: #fff;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
li{
    list-style:none;
}
i{
	font-style: normal;
}
@font-face {
  font-family: 'iconfont';  /* project id 492911 */
  src: url('http://at.alicdn.com/t/font_492911_ju27hesvpq6hto6r.eot');
  src: url('http://at.alicdn.com/t/font_492911_ju27hesvpq6hto6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_492911_ju27hesvpq6hto6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_492911_ju27hesvpq6hto6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_492911_ju27hesvpq6hto6r.svg#iconfont') format('svg');
}